body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-image: url('newImahe');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 100px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 10px 10px;
}

.project {
    background-color: white;
    margin: 10px 10px ;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5rem 0 0.2rem;
}

form input, form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    background-color:red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: green;
}
img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-color: rgb(139, 116, 0);
    box-shadow:  5px 6px 5px gold;
    
}

h4 a{
    text-decoration: none;
}
